{% extends 'base.html' %}
{% block content %}
                    <div class="container-fluid wrapper">
                        <div class="row top-avatar hidden-xs hidden-sm">
                            <div class="avatar big-avatar"><a href=#><img class="img-responsive img-circle"
                                                                          src="/src/assets/images/avatars/users/user.png"
                                                                          alt=User></a></div>
                        </div>
                        <div class="row item-header">
                            <div class=item-background style="">
                                <div class=item-meta-info>
                                    <div class="item-user-stats col-md-1 col-sm-1 col-xs-2 no-padding"><img
                                            class="avatar big-avatar no-border"
                                            src="{{ newsitem.author.user_details.avatar.url }}"></div>
                                    <div class="item-info col-sm-8 col-xs-10">
                                        <div class=item-user-nickname><a href=#>{{ newsitem.author.username }}</a></div>
                                        <div class=item-item-title><a href=/item.html><h3>{{ newsitem.title }}</h3></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-padding row-to-upper">
                            <div class=col-md-9>
                                <div class="row item-content">
                                    <div class="col-md-12 wp-block">
                                        <div class="wp-block-spaced wp-block-item no-padding col-xs-12">
                                            <div class=item-content>
                                                <div class=text><p>{{ newsitem.text }}</p></div>
                                                <div class=item-info>
                                                    <div class="info-buttons col-xs-10">
                                                        <div class="wp-button wp-button-blue"><i
                                                                class="fa fa-heart used"></i> <span>999+</span></div>
                                                        <div class="wp-button wp-button-blue"><i class="fa fa-user"></i>
                                                            <span>999+</span></div>
                                                    </div>
                                                    <div class="item-date col-xs-2"> 2017.01.25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=row>
                                    <div class="col-md-12 wp-block">
                                        <div class=wp-block-header><h3>Comments</h3></div>
                                        <div class="wp-block-spaced wp-block-news comments">
                                            <div class=comments-list>
                                                {% for comment in newsitem.comments.all %}
                                                <div class=comment>
                                                    <div class=user-info>
                                                        <div class=user-avatar><img
                                                                class="avatar middle-plus-avatar img-circle"
                                                                src="{{ comment.author.user_detail.avatar.url }}"
                                                                alt=user-name></div>
                                                        <div class=user-and-comment>
                                                            <div class=user-name><a href=/profile>{{ comment.author.username }}</a></div>
                                                            <div class=date>{{ comment.date_created|date:"SHORT_DATETIME_FORMAT" }}</div>
                                                        </div>
                                                    </div>
                                               {{ comment.text }}
                                                </div>
                                                  {% endfor %}

                                            </div>
                                        </div>
                                        <div class="more-button more-comments"><span>load more</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class=col-md-3>
                                <div class="col-lg-12 col-md-12 col-xs-12 wp-block item-news">
                                    <div class=wp-block-header><h3>News</h3></div>
                                    <div class="wp-block-spaced no-padding full-fill" v-underline="{border: 1, 'children': '.item', 'direction': 'y', transition: '0.7s', calculateHeight: true}">
                                        {% for item in nearest_news %}
                                        <div class=item>
                                            <div class=item-wrapper>
                                                <div class=col-xs-3><img
                                                        class="avatar middle-plus-avatar img-responsive img-circle"
                                                        src="{{ item.author.user_details.avatar.url }}" alt=user_name>
                                                </div>
                                                <div class=col-xs-9>
                                                    <div class=top-info>
                                                        <div class=user-name><a href=/profile.html>{{ item.author.username }}</a></div>
                                                        <div class=item-date>{{ item.date_created|date:"SHORT_DATETIME_FORMAT" }}</div>
                                                    </div>
                                                    <div class=item-title><h3><a href="{% url 'news-detail' item.id %}">{{ item.title|truncatechars:15 }}</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
