{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container-fluid wrapper">
        <div class="row top-avatar hidden-xs hidden-sm">
            <div class="avatar big-avatar">
                <a href="#"><img class="img-responsive img-circle" src="/src/assets/images/avatars/users/user.png"
                                 alt="User"></a>
            </div>
        </div>

        <div class="row slider hidden-sm hidden-xs" v-slider="{defaultGame: '{{ game.id }}'}">
            <div class="slides img-covered bordered-top" style="background-image: url('');">
                {% for news_item in game.news.all %}
                <div data-game-selector="{{ game.id }}" class="slide border-radius-top"
                     data-background-image="{{ news_item.background }}">
                    <div class="content bordered-top-right col-lg-3 col-md-3 block-gradient-dark">
                        <div class="item">
                            <div class="header">
                                <h1>{{ news_item.title }}</h1>
                            </div>
                            <div class="body">
                                <p>
                                  {{ news_item.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="navigation col-md-12 no-padding">
                <div class="navigation-buttons">
                    <div class="slide-nav nav-left left no-padding" data-slide-direction="left"><img
                            src="{% static 'img/arrow-left.png' %}" alt="Arrow left"></div>
                    <div class="slide-nav nav-right left no-padding" data-slide-direction="right"><img
                            src="{% static 'img/arrow-right.png' %}" alt="Arrow right"></div>
                </div>
            </div>
        </div>
        <div class="row no-padding row-to-upper">
            <div class="col-lg-8 col-md-8 col-xs-12 wp-block padding-right">
                <div class="wp-block-header">
                    <h3>Hot teams</h3>
                </div>
                <div class="wp-block-spaced wp-block-teams">
                    <div class="left-team col-md-6 padding-right-half">
                        {% for team in game.team_set.all %}
                            <div class="wp-team-card middle-card">
                                <div class="team-card-body">
                                    <div class="team-master-top-info">
                                        <div class="in-search">
                                            <i class="fa fa-arrow-right"></i>
                                            <span>Searching...</span>
                                        </div>
                                        <div class="team-master">
                                            <i class="online-dot user-online"></i>
                                            <span class="vertical">
                                            <a href="#">{{ team.leader.username }}</a>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="team-body">
                                        <div class="team-body-left-info col-md-6 col-sm-6">
                                            <div class="team-avatar">
                                                <img class="big-avatar img-circle" src="{{ team.image.url }}"
                                                     alt="Team avatar">
                                            </div>
                                            <div class="team-name">
                                                <strong>
                                                    <a href="#">{{ team.name }}</a>
                                                </strong>
                                            </div>
                                            <div class="team-game">
                                                <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                            </div>
                                        </div>
                                        <div class="team-body-right-info col-md-6 col-sm-6">
                                            <div class="team-stats">
                                                <ul class="left half">
                                                    <li>Users: 99</li>
                                                    <li>Level: 55</li>
                                                </ul>
                                                <ul class="left half">
                                                    <li>Videos: 99</li>
                                                </ul>
                                            </div>
                                            <div class="team-users">
                                                <div class="row no-margin">
                                                    {% for user in team.members.all %}
                                                        <div class="team-small-user">
                                                            <a href="#"><img class="img-responsive"
                                                                             src="{{ user.user_details.avatar.url }}"
                                                                             alt="User"></a>
                                                        </div>
                                                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                                            </div>
                                                            <div class="row no-margin">
                                                        {% endif %}
                                                    {% endfor %}
                                                    </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="team-buttons">
                                        <team-button fa="plus" event="$requestInviteTeam"
                                                     event-payload="1"></team-button>
                                        <team-button fa="heart" custom-class="used" event="$likeTeam"
                                                     event-payload="1"></team-button>
                                        <div class="team-button">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <team-button fa="envelope" class="" event="$openChat"
                                                     event-payload="1"></team-button>
                                    </div>

                                </div>
                                <div class="team-card-footer black-background col-md-12">
                                    <div class="team-footer-tags">
                                        <span>#<a href="#">with-mic</a></span>
                                        <span>#<a href="#">bad-words</a></span>
                                        <span>#<a href="#">high-skill</a></span>
                                    </div>
                                    <hr>
                                    <div class="team-footer-about">
                                        <p>
                                            {{ team.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter == 2 %}
                                </div>
                                <div class="right-team col-md-6 padding-left-half">
                            {% endif %}

                        {% endfor %}
                        </div>
                </div>
                <div class="more-button">
                    <span>{% trans 'More' %}...</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 wp-block tournaments">
                <div class="wp-block-header">
                    <h3>Tournaments</h3>
                </div>
                <div class="wp-block-spaced full-fill">
                    {% for tournament in game.tournament_set.all %}
                        <div class="tournament col-md-12">
                            <div class="tournament-header">
                                <div class="tournament-user col-xs-2 no-padding">
                                    <img class="img-circle img-responsive middle-avatar"
                                         src="{{ tournament.image.url }}" alt="Tournament user">
                                </div>
                                <div class="tournament-user-info col-xs-10 padding-left">
                                    <div class="tournament-text-by">
                                        by <a href="#" class="blue-link uppercase">{{ tournament.company.name }}</a>
                                    </div>
                                    <div class="tournament-name">
                                        <a href="#" class="uppercase">{{ tournament.name }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament-body">
                                <p>{{ tournament.description }}</p>
                            </div>
                            <div class="tournament-footer center">
                                <div class="tournament-footer-additional col-md-6 no-padding">
                                    <span>Begining:</span><br>
                                    <span>{{ tournament.starts_at|date:"SHORT_DATETIME_FORMAT" }}</span>
                                </div>
                                <div class="tournament-footer-more col-md-6 no-padding">
                                    <a href="#" class="wp-button wp-button-blue middle">read more</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="more-button">
                    <span>{% trans 'More' %}...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 wp-block">
                <div class="wp-block-header">
                    <h3>Hot streams</h3>
                </div>
                <div class="wp-block-spaced wp-block-streams">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="wp-stream-card middle-card layer"
                             style="background-image:url(/src/assets/images/hots-stream.jpg)">
                            <div class="stream-top-info">
                                <div class="stream-user col-md-6">
                                    <div class="stream-user-stats">
                                        <img class="avatar middle-avatar"
                                             src="/src/assets/images/avatars/users/user.png">
                                        <i class="online-dot user-online"></i>
                                    </div>
                                    <div class="stream-user-name">
                                        <a href="#">user_nickname</a>
                                    </div>
                                </div>
                                <div class="stream-stats no-padding col-md-6">
                                    <a href="#" class="wp-button wp-button-blue stat-link">hots</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-twitch"></i>
                                        twitch</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="live-dot"></i> live</a>
                                </div>
                            </div>
                            <div class="stream-bottom-info col-md-12">
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i>
                                    342</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="wp-stream-card middle-card layer"
                             style="background-image:url(/src/assets/images/hots-stream.jpg)">
                            <div class="stream-top-info">
                                <div class="stream-user col-md-6">
                                    <div class="stream-user-stats">
                                        <img class="avatar middle-avatar"
                                             src="/src/assets/images/avatars/users/user.png">
                                        <i class="online-dot user-online"></i>
                                    </div>
                                    <div class="stream-user-name">
                                        <a href="#">user_nickname</a>
                                    </div>
                                </div>
                                <div class="stream-stats no-padding col-md-6">
                                    <a href="#" class="wp-button wp-button-blue stat-link">hots</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-twitch"></i>
                                        twitch</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="live-dot"></i> live</a>
                                </div>
                            </div>
                            <div class="stream-bottom-info col-md-12">
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i>
                                    342</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="wp-stream-card middle-card layer"
                             style="background-image:url(/src/assets/images/hots-stream.jpg)">
                            <div class="stream-top-info">
                                <div class="stream-user col-md-6">
                                    <div class="stream-user-stats">
                                        <img class="avatar middle-avatar"
                                             src="/src/assets/images/avatars/users/user.png">
                                        <i class="online-dot user-online"></i>
                                    </div>
                                    <div class="stream-user-name">
                                        <a href="#">user_nickname</a>
                                    </div>
                                </div>
                                <div class="stream-stats no-padding col-md-6">
                                    <a href="#" class="wp-button wp-button-blue stat-link">hots</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-twitch"></i>
                                        twitch</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="live-dot"></i> live</a>
                                </div>
                            </div>
                            <div class="stream-bottom-info col-md-12">
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i>
                                    342</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="wp-stream-card middle-card layer"
                             style="background-image:url(/src/assets/images/hots-stream.jpg)">
                            <div class="stream-top-info">
                                <div class="stream-user col-md-6">
                                    <div class="stream-user-stats">
                                        <img class="avatar middle-avatar"
                                             src="/src/assets/images/avatars/users/user.png">
                                        <i class="online-dot user-online"></i>
                                    </div>
                                    <div class="stream-user-name">
                                        <a href="#">user_nickname</a>
                                    </div>
                                </div>
                                <div class="stream-stats no-padding col-md-6">
                                    <a href="#" class="wp-button wp-button-blue stat-link">hots</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-twitch"></i>
                                        twitch</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="live-dot"></i> live</a>
                                </div>
                            </div>
                            <div class="stream-bottom-info col-md-12">
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i>
                                    342</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="wp-stream-card middle-card layer"
                             style="background-image:url(/src/assets/images/hots-stream.jpg)">
                            <div class="stream-top-info">
                                <div class="stream-user col-md-6">
                                    <div class="stream-user-stats">
                                        <img class="avatar middle-avatar"
                                             src="/src/assets/images/avatars/users/user.png">
                                        <i class="online-dot user-online"></i>
                                    </div>
                                    <div class="stream-user-name">
                                        <a href="#">user_nickname</a>
                                    </div>
                                </div>
                                <div class="stream-stats no-padding col-md-6">
                                    <a href="#" class="wp-button wp-button-blue stat-link">hots</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-twitch"></i>
                                        twitch</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="live-dot"></i> live</a>
                                </div>
                            </div>
                            <div class="stream-bottom-info col-md-12">
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i>
                                    342</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="wp-stream-card middle-card layer"
                             style="background-image:url(/src/assets/images/hots-stream.jpg)">
                            <div class="stream-top-info">
                                <div class="stream-user col-md-6">
                                    <div class="stream-user-stats">
                                        <img class="avatar middle-avatar"
                                             src="/src/assets/images/avatars/users/user.png">
                                        <i class="online-dot user-online"></i>
                                    </div>
                                    <div class="stream-user-name">
                                        <a href="#">user_nickname</a>
                                    </div>
                                </div>
                                <div class="stream-stats no-padding col-md-6">
                                    <a href="#" class="wp-button wp-button-blue stat-link">hots</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-twitch"></i>
                                        twitch</a>
                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="live-dot"></i> live</a>
                                </div>
                            </div>
                            <div class="stream-bottom-info col-md-12">
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i>
                                    342</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-button">
                    <span>{% trans 'More' %}...</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 wp-block">
                <div class="wp-block-header">
                    <h3>{% trans 'Hot News' %}</h3>
                </div>
                <div class="wp-block-spaced wp-block-news">
                    <div class="col-md-6 padding-right-half">
                        {% for news_item in game.news.all %}
                            <div class="wp-news-card middle-card">
                                <div class="news-top-info layer"
                                     style="background-image:url({{ news_item.background.url }})">
                                    <div class="news-info-inner">
                                        <div class="news-user col-md-10 col-xs-12">
                                            <div class="news-user-stats col-md-2 col-sm-2 col-xs-2 no-padding">
                                                <img class="avatar big-avatar no-border" src="{{ news_item.author_avatar_url }}">
                                                <i class="online-dot user-online"></i>
                                            </div>
                                            <div class="news-info col-sm-8 col-xs-10">
                                                <div class="news-user-nickname">
                                                    <a href="#">{{ news_item.author.username }}</a>
                                                </div>
                                                <div class="news-item-title">
                                                    <a href="#">
                                                        <h3>{{ news_item.title }}</h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-item-stats col-xs-3">
                                            <span>{{ news_item.date_created|date:"SHORT_DATETIME_FORMAT" }}</span>
                                        </div>
                                        <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                    </div>
                                </div>
                                <div class="news-body col-md-12">
                                    {{ news_item.text }}
                                </div>
                                <div class="news-bottom-info col-md-12">
                                    <div class="col-md-10 no-padding">
                                        <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i>
                                            243</a>
                                        <a href="#" class="wp-button wp-button-blue stat-link"><i
                                                class="fa fa-heart used"></i> 342</a>
                                    </div>
                                    <div class="col-md-2 no-padding align-right">
                                        <a href="#" class="wp-button wp-button-blue">{% trans 'More' %}...</a>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter == 2 %}
                                </div>

                                <div class="col-md-6 padding-left-half">
                            {% endif %}
                        {% endfor %}
                        </div>
                </div>

                <div class="more-button">
                    <span>{% trans 'More' %}...</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
