{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="container-fluid wrapper">
                    <div class="row top-avatar hidden-xs hidden-sm">
                        <div class="avatar big-avatar">
                            <a href="#"><img class="img-responsive img-circle" src="/src/assets/images/avatars/users/user.png" alt="User"></a>
                        </div>
                    </div>
                    <div class="row slider hidden-sm hidden-xs" v-slider>
                        <div class="slides img-covered bordered-top" style="background-image: url('/src/assets/images/overwatch.jpg');">
                            {% for game in game_list %}
                                {% for news_item in game.news.all %}
                            <div data-game-selector="{{ game.id }}" class="slide border-radius-top" data-background-image="{{ news_item.background.url }}">
                                <div class="content bordered-top-right col-lg-3 col-md-3 block-gradient-dark">
                                    <div class="item">
                                        <div class="header">
                                            <h1>{{ news_item.title }}</h1>
                                        </div>
                                        <div class="body">
                                            <p>
                               {{ news_item.text }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    {% endfor %}
                            {% endfor %}
                        </div>

                        <div class="navigation col-md-12 no-padding">
                            <div class="navigation-buttons">
                                <div class="slide-nav nav-left left no-padding" data-slide-direction="left"><img src="{% static 'img/arrow-left.png' %}" alt="Arrow left"></div>
                                <div class="slide-nav nav-right left no-padding" data-slide-direction="right"><img src="{% static 'img/arrow-right.png' %}" alt="Arrow right"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row no-padding row-to-upper">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 wp-block">
                                    <div class="wp-block-header">
                                        <h3>Games</h3>
                                    </div>
                                    <div class="wp-block-spaced wp-block-games col-xs-12 no-padding">
                                        {% for game in game_list %}
                                        <div class="col-lg-3 col-md-3 col-xs-12 game-card" data-game-selector="{{ game.id }}" v-game-card="{isActive: true}">
                                            <div class="card-inner" style="background-image: url({{ game.background.url }});">
                                                <div class="game-card-stats">
                                                    <div class="wp-button wp-button-blue">
                                                        <i class="fa fa-user"></i>
                                                        <span>999+</span>
                                                    </div>
                                                    <div class="wp-button wp-button-blue">
                                                        <i class="fa fa-search"></i>
                                                        <span>999+</span>
                                                    </div>
                                                </div>
                                                <div class="game-card-background">
                                                    <div class="game-inner-middle">
                                                        <div class="game-title" v-event-runner="{eventName: 'gameNameSelected', payload: '{{ game.id }}'}">
                                                            <a href="#">
                                                                <h1>{{ game.name }}</h1>
                                                            </a>
                                                        </div>
                                                        <div class="play-button">
                                                            <a class="wp-button wp-button-green link" href="{% url 'game-detail' game.id %}">
                                                            PLAY
                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 wp-block">
                                    <div class="wp-block-header">
                                        <h3>Hot news</h3>
                                    </div>
                                    <div class="wp-block-spaced wp-block-news">
                                        <div class="wp-news-card middle-card">
                                            <div class="news-top-info layer" style="background-image:url(/src/assets/images/overwatch3.jpg)">
                                                <div class="news-info-inner">
                                                    <div class="news-user col-md-10 col-xs-12">
                                                        <div class="news-user-stats col-md-2 col-sm-2 col-xs-2 no-padding">
                                                            <img class="avatar big-avatar no-border" src="/src/assets/images/avatars/users/user.png">
                                                            <i class="online-dot user-online"></i>
                                                        </div>
                                                        <div class="news-info col-sm-8 col-xs-10">
                                                            <div class="news-user-nickname">
                                                                <a href="#">user_nickname</a>
                                                            </div>
                                                            <div class="news-item-title">
                                                                <a href="/item.html">
                                                                    <h3>THE TITLE OF ITEM</h5>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="news-item-stats col-xs-3">
                                                        <span>12.01.2017</span>
                                                    </div>
                                                    <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                </div>
                                            </div>
                                            <div class="news-body col-md-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                    id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                    ut aliquip ex ea commodo consequat. Duis </p>
                                            </div>
                                            <div class="news-bottom-info col-md-12">
                                                <div class="col-md-10 no-padding">
                                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i> 342</a>
                                                </div>
                                                <div class="col-md-2 no-padding align-right">
                                                    <a href="" class="wp-button wp-button-blue">more...</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wp-news-card middle-card">
                                            <div class="news-top-info layer" style="background-image:url(/src/assets/images/overwatch3.jpg)">
                                                <div class="news-info-inner">
                                                    <div class="news-user col-md-10 col-xs-12">
                                                        <div class="news-user-stats col-md-2 col-sm-2 col-xs-2 no-padding">
                                                            <img class="avatar big-avatar no-border" src="/src/assets/images/avatars/users/user.png">
                                                            <i class="online-dot user-online"></i>
                                                        </div>
                                                        <div class="news-info col-sm-8 col-xs-10">
                                                            <div class="news-user-nickname">
                                                                <a href="#">user_nickname</a>
                                                            </div>
                                                            <div class="news-item-title">
                                                                <a href="/item.html">
                                                                    <h3>THE TITLE OF ITEM</h5>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="news-item-stats col-xs-3">
                                                        <span>12.01.2017</span>
                                                    </div>
                                                    <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                </div>
                                            </div>
                                            <div class="news-body col-md-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                    id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                    ut aliquip ex ea commodo consequat. Duis </p>
                                            </div>
                                            <div class="news-bottom-info col-md-12">
                                                <div class="col-md-10 no-padding">
                                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-eye"></i> 243</a>
                                                    <a href="#" class="wp-button wp-button-blue stat-link"><i class="fa fa-heart used"></i> 342</a>
                                                </div>
                                                <div class="col-md-2 no-padding align-right">
                                                    <a href="#" class="wp-button wp-button-blue">more...</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="more-button">
                                        <span>load more</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-lg-12 col-md-12 col-xs-12 wp-block tournaments">
                                <div class="wp-block-header">
                                    <h3>Description</h3>
                                </div>
                                <div class="wp-block-spaced full-fill">
                                    {% for game in game_list %}
                                    <div class="game-description col-md-12" v-game-description="{gameName: '{{ game.id }}'}">
                            {{ game.description }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="more-button">
                                    <span>more...</span>
                                </div>
                            </div>
                            <div class="col-xs-12 wp-block">
                                <div class="wp-block-header">
                                    <h3>Hot teams</h3>
                                </div>
                                <div class="wp-block-spaced wp-block-teams">
                                    <div class="col-sm-6 no-padding col-xs-12">
                                        <div class="wp-team-card small-card padding-right-sm col-xs-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="wp-team-card small-card padding-right-sm col-xs-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 no-padding col-xs-12">
                                        <div class="wp-team-card small-card padding-left-sm col-xs-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="wp-team-card small-card padding-left-sm col-xs-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12 wp-block">
                                <div class="wp-block-header">
                                    <h3>Recent requests</h3>
                                </div>
                                <div class="wp-block-spaced wp-block-teams">
                                    <div class="col-sm-6 no-padding">
                                        <div class="wp-team-card small-card padding-right-sm col-sm-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="wp-team-card small-card padding-right-sm col-sm-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 no-padding">
                                        <div class="wp-team-card small-card padding-left-sm col-sm-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="wp-team-card small-card padding-left-sm col-sm-12">
                                            <div class="team-card-body">
                                                <div class="team-master-top-info">
                                                    <div class="team-master">
                                                        <i class="online-dot user-online"></i>
                                                        <span class="vertical">
                                            <a href="#">leader_nickname</a>
                                        </span>
                                                    </div>
                                                </div>
                                                <div class="team-body">
                                                    <div class="team-body-left-info">
                                                        <div class="team-avatar">
                                                            <img class="big-avatar img-circle" src="/src/assets/images/avatars/teams/team.png" alt="Team avatar">
                                                        </div>
                                                        <div class="team-name">
                                                            <strong>
                                                            <a href="#">Team name</a>
                                                        </strong>
                                                        </div>
                                                        <div class="team-game">
                                                            <a href="#" class="wp-button wp-button-blue">overwatch</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="team-buttons">
                                                    <div class="team-buttons-inner">
                                                        <team-button fa="plus" event="$requestInviteTeam" event-payload="1"></team-button>
                                                        <team-button fa="heart" custom-class="used" event="$likeTeam" event-payload="1"></team-button>
                                                        <div class="team-button">
                                                            <i class="fa fa-eye"></i>
                                                        </div>
                                                        <team-button fa="envelope" class="" event="$openChat" event-payload="1"></team-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
{% endblock %}