{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% csrf_token %}
<div id="app">
    <app inline-template>
        <div class="app-wrapper" @click.stop="handleClick">
            <!--<div class="top-nav visible-xs no-padding"></div>-->
            <side-nav move-block="#container"></side-nav>
            <side-chat></side-chat>
            <global-notifications></global-notifications>
            <div id="container" class="container">
                <div class="row">
                    <div class="col-sm-12 hidden-xs">
                        <div class="row align-block" id="navigation">
                            <div class="col-md-2 col-sm-5 hidden-xs align-body">
                                <a href="/" class="vertical-align middle"><img src="{% static 'img/logo.png' %}" alt="Wp-Mates"></a>
                            </div>
                            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs align-body">
                                <div class="nav-block vertical-align middle">
                                    <ul id="top-navigation" class="nav navbar-nav" v-underline="{border: 5, 'children': 'li', transition: '0.7s'}">
                                        <li class="active"><a href="{% url 'games-list' %}">{% trans 'Games' %}</a></li>
                                        <li><a href="/streams.html">{% trans 'Streams' %}</a></li>
                                        <li><a href="/teams.html">{% trans 'Teams' %}</a></li>
                                        <li><a href="/faq.html">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-3 col-md-offset-2 align-body">
                                <div class="vertical-align middle">
                                    <button class="wp-button wp-button-green right-big-space">{% trans 'Find a team'%}</button>
                                    <button class="wp-button wp-button-blue">{% trans 'Find a partner' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% block content %}{% endblock %}
              </div>
            <div class="swipe-right open-nav hidden-md hidden-lg" v-swipe:onright="openNav"></div>
            <div class="swipe-left open-chat hidden-md hidden-lg" v-swipe:onleft="openChat"></div>
        </div>
    </app>
</div>

<div class="footer">
    <span>I am a footer!</span>
</div>
<script type="text/javascript" src="{% static 'js/lib/vendor.js' %}"></script><script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>